.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #232038;
  color: #f2eeec;
}

.app_header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.app_header h3 {
  text-align: center;
}

.app_header-instructions {
  text-align: center;
}

.app_converter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app_converter-input {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  min-width: 280px;
  min-height: 280px;
  border-radius: 15px 15px 0 15px;
  padding: 5px;
  background: #6e6f9b;
  color: #f2eeec;
  font-size: 1.2rem;
}

.app_converter-btn {
  display: flex;
  box-sizing: border-box;
  width: 5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 1rem;
  margin-top: 1rem;
  color: #f2eeec;
  background: #6827af;
}

.app_output {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  min-width: 280px;
}

.app_output p {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  min-width: 280px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: justify;
}
